async_timeout==5.0.1
attr==0.3.2
bleak_pythonista==0.1.2
brotli==1.2.0
brotlicffi==1.2.0.0
chardet==5.2.0
click==8.3.1
ConfigParser==7.2.0
cryptography==46.0.5
dbus_fast==4.0.0
docutils==0.22.4
filelock==3.24.2
h2==4.3.0
hid==1.0.9
HTMLParser==0.0.2
ipython==9.10.0
ipywidgets==8.1.8
jnius==1.1.0
js==1.0
keyring==25.7.0
lxml==6.0.2
orjson==3.11.7
meshcore==2.2.11
protobuf==6.33.5
psutil==7.2.2
pyodide==0.0.2
pyOpenSSL==25.3.0
pytest==9.0.2
redis==7.2.0
setuptools==82.0.0
sh==2.2.2
simplejson==3.20.2
Sphinx==9.1.0
thread==2.0.6
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
